
<ion-content>
  <div *ngIf="!isPostSignup">
    <h4>Contact us</h4>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-label>First Name:</ion-label>
          <ion-input type="text" placeholder="" formControlName="fullName"></ion-input>
          <small class="" >Required</small>
        </ion-item>
        <ion-item>
          <ion-label>Organization:</ion-label>
          <ion-input type="text" placeholder="" formControlName="organization"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email*:</ion-label>
          <ion-input type="text" placeholder="Email input" formControlName="email"></ion-input>
          <small class="help is-danger" *ngIf="submitted && f.email.errors?.required">Required</small>
          <small class="help is-danger" *ngIf="submitted && f.email.errors?.pattern">This email is invalid</small>
        </ion-item>
      </ion-list>


      <div class="field">
        <label class="label">Email*</label>
        <div class="control">
          <input class="input" type="email" placeholder="Email input" value="" formControlName="email">
        </div>
        <small class="help is-danger" *ngIf="submitted && f.email.errors?.required">Required</small>
        <small class="help is-danger" *ngIf="submitted && f.email.errors?.pattern">This email is invalid</small>
      </div>

      <div class="field">
        <label class="label">Phone</label>
        <div class="control">
          <input class="input" placeholder="" value="" formControlName="phone">
        </div>
      </div>

      <div class="field">
        <label class="label">Reason</label>
        <div class="control">

          <div class="dropdown" #reasonDropdownButton>
            <div class="dropdown-trigger">
              <button class="button" type="button" aria-haspopup="true" aria-controls="dropdown-menu"
                      (click)="reasonDropdownClick($event)">
                <span>Select Reason</span>
                <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
              </button>
            </div>
            <div class="dropdown-menu modal-background" id="dropdown-menu" role="menu">
              <div class="dropdown-content" (click)="reasonSelected('salesdemo')">
                <a class="dropdown-item">
                  Sales (Demo)
                </a>
                <a class="dropdown-item" (click)="reasonSelected('support')">
                  Support
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="field">
        <label class="label">Comments</label>
        <div class="control">
          <textarea class="textarea" placeholder="" formControlName="comments"></textarea>
        </div>
      </div>

      <div class="field is-grouped has-margin-top-30 is-pulled-right">
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div>
        <div class="control">
          <button type="submit" class="button is-primary" [disabled]="loading" >Submit</button>
        </div>
      </div>
    </form>
  </div>

  <div class="section container is-half-width has-text-centered" *ngIf="isPostSignup">
    <h3 class="title is-3 is-center">Thank you for contacting us.</h3>
    <h4 class="title is-3 is-center">Our executive will contact you shortly.</h4>
    <button class="button is-light" (click)="goToHomePage()">Go back to Home</button>
  </div>

</ion-content>
