
<ion-content>
  <div *ngIf="!isPostSignup" class="ion-margin">
    <h4>Contact us</h4>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Name:</ion-label>
          <ion-input type="text" placeholder="" formControlName="fullName"></ion-input>
          <small class="error-input" *ngIf="submitted && f.fullName.errors?.required">Required</small>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Company:</ion-label>
          <ion-input type="text" placeholder="" formControlName="company"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Country:</ion-label>
          <ion-input type="text" placeholder="" formControlName="country"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email:</ion-label>
          <ion-input type="text" placeholder="eg: joe@gmail.com" formControlName="email"></ion-input>
          <small class="error-input" *ngIf="submitted && f.email.errors?.required">Required</small>
          <small class="error-input" *ngIf="submitted && f.email.errors?.pattern">This email is invalid</small>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Phone Number:</ion-label>
          <ion-input placeholder="" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">How did you hear us?:</ion-label>
          <ion-select value="social-media" okText="Okay" cancelText="Dismiss" formControlName="hearFrom"
                      interface="popover" >
            <ion-select-option value="social-media">Social media</ion-select-option>
            <ion-select-option value="reference">Reference</ion-select-option>
            <ion-select-option value="others">Others</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">How can we help you?:</ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss" formControlName="helpOn"
                      interface="popover" >
            <ion-select-option value="demo">Request for demo</ion-select-option>
            <ion-select-option value="subscription">Subscription</ion-select-option>
            <ion-select-option value="support">Support</ion-select-option>
            <ion-select-option value="general">General questions</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Describe your needs:</ion-label>
          <ion-textarea placeholder="" formControlName="description"></ion-textarea>
        </ion-item>
      </ion-list>
      <ion-toolbar>
        <ion-buttons slot="primary">
          <ion-button color="dark" role="dismiss" (click)="dismiss()">Cancel</ion-button>
          <ion-button type="submit" color="primary" [disabled]="loading" >Submit</ion-button>
        </ion-buttons>
      </ion-toolbar>


    </form>
  </div>

  <div class="ion-text-center" *ngIf="isPostSignup">
    <h3>Thank you for contacting us.</h3>
    <h4>Our executive will contact you shortly.</h4>
    <ion-button class="button is-light" (click)="dismiss()">Okay</ion-button>
  </div>

</ion-content>
